<header>
    <img
        src="assets/img/gii.jpg"
        alt="Giovana - foto de perfil"
        width="130px"
        height="130px"
        loading="eager"
    />

    <h1>Giovana Fróes</h1>
</header>

<aside>
    <div class= "container">
    <p>Sistemas de Informação | Técnnico em Administração | Trainee Asimov Jr.</p>
    <p>Itajubá, Minas Gerais, Brasil</p>
    <p>
      Graduanda em Sistemas de Informação pela Universidade Federal de Itajubá, com formação em desenvolvimento de software, análise de sistemas e tecnologia da informação.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/giovana-fróes-e-silva-953b082a2/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5535998896685&text=Ol%C3%A1%20Giovana,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (35) 9 99889-6685</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:gigifroesesilva@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>gigifroesesilva&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>     
    </div>
</aside>