:root {
  --primary: #bd4d4d;
  --primary-010: #4c0205;

  --secondary: #8a0611;
  --secondary-010: #4c0205;

  --white: #fff;
  --white-010: #ebe7e7;

  --black: #1c1c20;
  --black-010: #2a2a30;

  --grey: #9b9ba0;
}